header .container-fluid,
main .container-fluid,
footer .container-fluid {
  max-width: 1280px;
  width: 98%;
  margin: 0 auto;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 1rem;
  min-height: 100%;
  background-color: #263238;
}

header,
main {
  background-color: #fff;
}

a {
  color: #23876f;
}

::selection {
  color: white;
  background: #23876f;
}

::-moz-selection {
  color: white;
  background: #23876f;
}

header {
  padding: 50px 0;
  color: #ffffff;
  margin-bottom: 0;
  background: #3eaa8d;
  background: -moz-linear-gradient(top, #3eaa8d 0%, #169383 100%);
  background: -webkit-linear-gradient(top, #3eaa8d 0%, #169383 100%);
  background: linear-gradient(to bottom, #3eaa8d 0%, #169383 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaa8d', endColorstr='#169383',GradientType=0 );
}

main {
  padding: 20px 0;
}

main .milo-widget p {
  margin: 0;
}

main .milo-widget .panel-collapse .panel-body {
  padding-top: 0;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2rem + 2px);
  line-height: 2rem;
}

label.type input[type="radio"] {
  display: none;
}

label.type {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 1.5rem;
}

.btn.btn-primary,
.btn.btn-primary:focus,
label.type {
  color: white;
  font-weight: 600 !important;
  border-radius: 0 !important;
  border: none !important;
  background: #169383 !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

label.type:last-child {
  margin-right: 0;
}

.btn.btn-primary:hover,
label.type:hover {
  background: #3eaa8d !important;
  background: -moz-linear-gradient(top, #3eaa8d 0%, #169383 100%) !important;
  background: -webkit-linear-gradient(top, #3eaa8d 0%, #169383 100%) !important;
  background: linear-gradient(to bottom, #3eaa8d 0%, #169383 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaa8d', endColorstr='#169383',GradientType=0 ) !important;
}

footer {
  background: #37474f;
  background: -moz-linear-gradient(top, #37474f 0%, #263238 100%);
  background: -webkit-linear-gradient(top, #37474f 0%, #263238 100%);
  background: linear-gradient(to bottom, #37474f 0%, #263238 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37474f', endColorstr='#263238',GradientType=0 );
  padding-top: 3rem;
}

footer small {
  font-size: 90%;
}

footer .row {
  margin-bottom: 0;
}

footer .brand-logo {
  margin-top: 0.5rem;
  display: block;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li .fa {
  margin-right: 0.5rem;
}

footer ul.right li {
  text-align: right;
}

footer,
footer a,
footer a:hover,
footer a:focus {
  color: white;
}

footer a,
footer a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  header {
    padding: 20px 0;
  }
  footer ul.right {
    margin-bottom: 1rem;
  }
  footer ul.right li {
    text-align: left;
  }
}
