@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);


// Base variables ==============================================================

$base-font-family: "Open Sans", "Helvetica", sans-serif;


// Layout ======================================================================

header .container-fluid,
main .container-fluid,
footer .container-fluid {
    max-width: 1280px;
    width: 98%;
    margin: 0 auto;
}


// General =====================================================================

html {
    overflow-y: scroll;
}
body {
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: 1rem;
    min-height: 100%;
    background-color: #263238;
}
header,
main {
    background-color: #fff;
}

a {
    color: #23876f;
}
::selection {
    color: white;
    background: #23876f;
}
::-moz-selection {
    color: white;
    background: #23876f;
}

// nav {
//     background-color: #263238;
//     li {
//         display: inline-block;
//         a,
//         a:hover {
//             color: white;
//         }
//     }
// }
header {
    padding: 50px 0;
    color: #ffffff;
    margin-bottom: 0;
    background: #c2185b;
}

main {
    padding: 20px 0;
    .milo-widget {
        p {
            margin: 0;
        }
        .panel-collapse .panel-body {
            padding-top: 0;
        }
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
    line-height: 2rem;
}

label.type input[type="radio"] {
    display: none;
}
label.type {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
}
.btn.btn-primary,
.btn.btn-primary:focus,
label.type {
    color: white;
    font-weight: 600 !important;
    border-radius: 0 !important;
    border: none !important;
    background: #c2185b !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
label.type:last-child {
    margin-right: 0;
}
.btn.btn-primary:hover,
label.type:hover {
    background: #c2185b !important;
}

// Footer ======================================================================

footer {
    background: #263238;
    padding-top: 3rem;
    small {
        font-size: 90%;
    }
    .row {
        margin-bottom: 0;
    }
    .brand-logo {
        margin-top: 0.5rem;
        display: block;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            .fa {
                margin-right: 0.5rem;
            }
        }
    }
    ul.right li {
        text-align: right;
    }
}
footer,
footer a,
footer a:hover,
footer a:focus {
    color: white;
}
footer a,
footer a:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    header {
        padding: 20px 0;
    }
    footer {
        ul.right {
            margin-bottom: 1rem;
            li {
                text-align: left;
            }
        }
    }
}
